.page {
	font-family: "EB Garamond", serif;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 100px;
	margin-right: 100px;
}

.header {
	margin-left: 100px;
	margin-right: 100px;
}

.title {
	text-transform: uppercase;
	color: #000;
}

.menu {
	text-transform: uppercase;
	border-bottom: 1px solid;
	border-color: #777;
}

.menu_item {
	display: inline;
	padding-left: 8px;
	padding-right: 9px;
}

.bodyheader {
	
}

.body {
	max-width: 600px;
}

.navigation {
	display: inline-block;
	vertical-align: top;
	min-width: 100px;
}

.body-navigation-container {

}

.body-header-container {
	margin-top: 20px;
	display: inline-block;
	margin-left: 20px;
	border-left: 1px solid;
	padding-left: 20px;
	border-color: #777;
}

.navigation-item {
	margin-left: 15px;
	margin-top: 8px;
	margin-bottom: 8px;
}

.navigation-title {
	margin-bottom: 10px;
}

a {
	text-decoration: none;
	text-transform: uppercase;
}

a:link, a:visited {
	color: #777;
}

a:hover, a:active {
	color: #000;
}

body {
	font-family: "EB Garamond", serif;
}